{% extends "base.html" %}

{% block content %}
    <h3>You are learning words from Category: {{cat}}</h3>
    <ul>
        {% for word, def in options %}
            {% with learn_url=word|add:"/"|add:"learning"  %}
            {% with know_url=word|add:"/"|add:"know" %}
            <li><h4>{{ word }}</h4></li>
            <p>{{ def }}</p>
            <a href="{{ know_url }}">I know this word!</a>
            <a href="{{ learning_url }}">I'm still learning</a>
            {% endwith %}
            {% endwith %}
        {% endfor %}
    </ul>
<a href="{% url 'quiz'%}">Return to quiz home</a>
{% endblock %}
