{% extends "base.html" %}

{% block content %}
    <h3>You are learning words from Category: {{cat}}</h3>
    <ul>
        {% for word, def in options %}
            {% with learn_url=cat|add:"/"|add:"learning"|add:"/"|add:word  %}
            {% with know_url=cat|add:"/"|add:"know"|add:"/"|add:word %}
            <li><h4>{{ word }}</h4></li>
            <p>{{ def }}</p>
            <a href="{{ know_url }}">I know this word!</a>
            <a href="{{ learn_url }}">I'm still learning</a>
            {% endwith %}
            {% endwith %}
        {% endfor %}
    </ul>
<a href="{% url 'learn'%}">Return to list of category</a>
{% endblock %}
