<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}GRE Vocab{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <style>
  *
  {
      font-family: 'Lato', sans-serif;
  }

  a:hover, a:active {
    color: blue;
    text-decoration: none;
  }
    /* unvisited link */
  a:link {
    color: blue;
    text-decoration: none;
  }

  /* visited link */
  a:visited {
    color: green;
    text-decoration: none;
  }

  /* mouse over link */
  a:hover {
    color: red;
    text-decoration: none;
  }

  /* selected link */
  a:active {
    color: blue;
    text-decoration: none;
  }
  </style>
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
    <br/>
    <center>
      <a href="{% url 'home'%}"><h1>Return to home</h1></a>
      <a href="{% url 'logout'%}"><h3>Click here to logout.</h3></a>
    </center>
  </main>
</body>
</html>
